body {
    font-family: Arial, sans-serif;
    width: 100%; /* Utiliser 100% pour que le corps s'étende à toute la largeur */
    background-color: #101318;
    background-image: url('image/background/les images superficielles.png');
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(246, 255, 197);
    height: 100vh; /* Utiliser 100vh pour s'assurer que le corps remplit toute la hauteur de la fenêtre */
    margin: 0;
    overflow-x: hidden; /* Éviter le débordement horizontal */
}

h1 {
    text-align: center;
}

#game {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.counter {
    width: 100px;
    height: 100px;
    font-size: 36px;
    background-color: #2d3441a2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.counter.correct {
    border: 2px solid;
    border-color: rgba(3, 146, 3, 0.548);
    color: white;
}

.counter.clicked {
    background-color: rgb(23, 202, 23);
}

#message {
    margin-top: 20px;
    font-size: 24px;
}

#targets {
    margin-bottom: 20px;
}

.dialogue {
    display: flex; /* Utiliser flexbox pour une disposition plus réactive */
    flex-direction: left; /* Aligner les éléments verticalement sur mobile */
    align-items: center; /* Centrer horizontalement */
    margin-top: 15%; /* Ajuster pour éviter que le contenu soit trop en haut */
    margin-left: 10% ;
    text-align: center;
  }
  
  .dialogue_text {
    width: 90%; /* Utiliser une largeur relative pour s'adapter à la taille de l'écran */
    max-width: 600px; /* Limiter la largeur maximale pour les grands écrans */
    margin: 10px auto; /* Centrer le texte avec un espace autour */
    padding: 10px;
    background-color: rgba(200, 229, 255, 0.6);
    color: black;
    border: solid #f1ff33;
    box-shadow: 4px 2px 50px#f1ff33;
    text-align: center;
  }
  
  .eel-content {
    max-width: 80%;
    height: auto;
    margin: 20px;
  }

  .button {
    background-color: #f1ff33;
    border: none;
    box-shadow: #050607 0px 0px 10px;
    text-align: 20%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #050607;
  }

  .button:active {
    margin-top: 20px;
    rotate: 0deg
  }

  .glitch {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
}

@keyframes glitch {
    0%, 15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    16%, 49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    50%, 99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
    }
}

.important {
  color: #00008b;
  text-shadow: 3px 0px 5px;
}