body {
    width: 90%;
    height: 99%;
    background-image: url('image/background/les images superficielles.png');
    background-repeat: no-repeat;
    background-position-x: center;
    color: rgb(246, 255, 197);
  }
  .difficulte {
    display: grid;
    grid-gap: 20%;
    margin-right: 0px;
    text-decoration: none;
    color: rgb(246, 255, 197);
  }

  a:link {
    text-decoration: none;
    color: rgb(246, 255, 197);
  }
  
  a:visited {
    text-decoration: none;
    color: rgb(246, 255, 197);
  }
  
  a:focus {
    text-decoration: none;
    color: rgb(246, 255, 197);
  }
  
  a:hover {
    text-decoration: none;
    color: rgb(246, 255, 197);
  }
  
  a:active {
      text-decoration: none;
    color: rgb(246, 255, 197);
  }

  .button {
    border: 3px solid  #00ccff;
    background-image:radial-gradient(circle, rgba(29,59,213,1) 0%, rgba(0,204,255,1) 100%);
    text-align: 20%;
    margin-left: 65%;
    margin-right: -30%;
    margin-top: 5%;
    padding-left: 30px;
    border-radius: 150px 5px;
    transition: 0.3s;
    rotate: 5deg;
  }

  .button1 {
    animation : entree 0.5s 1 ease-in-out running;
  }

  .button2 {
    animation : entree 1s 1 ease-in-out running;
  }

  .button3{
    animation : entree 1.5s 1 ease-in-out running;
  }


  .button:hover {
    margin-right: 10%;
  }

  .button:active{
    margin-top: 20px;
    rotate : 0deg
  }

  @keyframes entree {

    0%{
        transform: translateX(300px);
    }

    20%{
        transform: translateX(50px);
    }
    40%{
        transform: translateX(25px);
    }
    60%{
        transform: translateX(10px);
    }

    80%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0px);
    }

  }
  
  .titre{
    padding-top: 125px;
  }

  .choix{
    padding-left: 50px;
  }
  .titre,.choix{
    rotate: -30deg;
    animation: tombee 0.5s ease-in 1 running;
  }

  @keyframes tombee {
    0%{
      rotate: 0deg;
  }
  50%{
    rotate: -10deg;
  }
  100%{
    rotate: -30deg;
  }
  }

  .eel-content{
    max-width: 30%;
    animation: entree 0.5s ease-in 1 running;
    position: absolute;
    top: 60%;
    left: 60%;
  }