body {
    width: 90%;
    height: 99%;
    background-image: url('image/les images superficielles.png');
    background-repeat: no-repeat;
    color: aliceblue;
  }
  .difficulte {
    display: grid;
    grid-gap: 20%;
  }
  .button {
    border: 3px solid rgb(168, 168, 43);
    background-color: linear-gradient(45deg, #4e00ff, #00ccff);
    color: rgb(1, 26, 63);
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 250px 5px;
    animation : entree 1s 1 ease-in-out running;
    transition: 2s;
  }


  .button:hover {
    margin-right: 40%;
  }

  .button:active{
    margin-top: 20px;
  }

  @keyframes entree {

    0%{
        transform: translateY(-300px);
    }

    20%{
        transform: translateY(-50px);
    }
    40%{
        transform: translateY(-25px);
    }
    60%{
        transform: translateY(-10px);
    }

    80%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }

  }
  
  h1{
    padding-left: 100px ;
  }

  p{
    padding-left: 150px;
  }