/* Styles de base */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #101318;
}


.puzzle-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
    aspect-ratio: 4/3;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 10px;
}

.button{
    background-image: radial-gradient(circle, rgba(29, 59, 213, 1) 0%, rgba(0, 204, 255, 1) 100%);
    border: none;
    margin: 10%;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: aliceblue;
}

.alert{
    background-color: rgb(219, 21, 21);
    border: none;
    margin: 10%;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: aliceblue;
}
/* Indicateurs */
.drop-zone {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    border: 2px dashed #666;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
}

#zone1 { top: 20%; left: 20%; }
#zone2 { top: 70%; left: 50%; }
#zone3 { top: 0%; left: 60%; }

/* Pièces du puzzle */
.pieces-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.drop-zone img {
    width: 100%; /* S'assurer que l'image prend toute la largeur de la zone de dépôt */
    height: 100%; /* S'assurer que l'image prend toute la hauteur de la zone de dépôt */
    object-fit: cover; /* Remplir la zone tout en maintenant le ratio d'aspect */
}
.selectable {
    height: auto;
    margin: 0 10px;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 10px;
    flex-grow: 1;
}

.selectable.selected {
    border-color: rgb(238, 53, 53);
    box-shadow: rgb(250, 78, 78) 5px 2px 5px;
}


/* Zone pour placer les images */
.bottom-panel {
    margin-top: 5px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .puzzle-container {
        width: 90%;
    }

    .selectable, .drop-zone {
        width: 18%;
        height: 18%;
    }
}

@media (max-width: 480px) {
    .puzzle-container {
        width: 100%;
    }

    .selectable, .drop-zone {
        width: 25%;
        height: 25%;
    }
}
.dialogue {
    display: flex; /* Utiliser flexbox pour une disposition plus réactive */
    flex-direction: left; /* Aligner les éléments verticalement sur mobile */
    align-items: center; /* Centrer horizontalement */
    margin-top: 20%; /* Ajuster pour éviter que le contenu soit trop en haut */
    text-align: center;
  }
  
  .dialogue_text {
    width: 90%; /* Utiliser une largeur relative pour s'adapter à la taille de l'écran */
    max-width: 600px; /* Limiter la largeur maximale pour les grands écrans */
    margin: 10px auto; /* Centrer le texte avec un espace autour */
    padding: 10px;
    background-color: rgba(200, 229, 255, 0.6);
    color: black;
    border: solid #3333ff;
    box-shadow: 4px 2px 50px #3333ff;
    text-align: left;
  }
  
  .eel-content {
    max-width: 80%; /* Utiliser 80% pour s'assurer que l'image ne dépasse pas l'écran */
    height: auto;
  }

.glitch {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    animation: glitch 10ms infinite;
}

@keyframes glitch {
    0%, 15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    16%, 49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    50%, 99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
    }
}

.important {
    color: #00008b;
    text-shadow: 0px 0px 5px;
}

.electrique {
    color: #fcff3d;
    text-shadow: 3px 0px 5px;
}

.enerve {
    color: #a70000;
    text-shadow: 0px 0px 5px;
}

.hidden {
    display: none;
}
