body{
    width: 90%;
    height: 90%;
    text-align: center;
    background-color: blue;
}

.demarrer{
    width: 90%;
    height: 90%;
    background-color: red;
    margin: auto;
    text-align: center;
    padding-top:100%;
    padding-bottom:100%;
}